@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@font-face {
   font-family: digital-7mono;
   src: url(fonts/digital-7\ \(mono\).ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #264653;
    font-family: 'Roboto', sans-serif;
}

body {
   background-color: rgb(223, 223, 223);
   display: flex;
   flex-direction: column;
   height: 100vh;
}

header {
   min-height: 64px;
   border-bottom: 4px solid rgb(192, 192, 192);
}

#content {
   flex: 1 1 auto;
}

#theCalculator {
   width: 33vw;
   min-width: 250px;
   min-height: 350px;
   max-height: 75%;
   padding: 16px;
   flex-direction: column;
   gap: 8px;
   align-items: stretch;
   background-color: rgb(33, 33, 33);
}

#display {
   height: 20%;
   background-color: rgb(69, 105, 102);
   padding: 8px 16px;
}

#calc-result {
   font-family: digital-7mono;
   font-size: 4vw;
   color: black;
   flex: 1 1 auto;
   text-align: right;
   align-self: flex-end;
}

#decor {
   height: 5%;
}

#calculatorButtons {
   flex: 1 1 auto;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 8px;
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 8px;
}

.calc-button-row {
   flex: 1 1 0;
   width: 100%;
   display: flex;
   gap: 8px;
}

.calc-button-row > button {
   flex: 1 1 0;
   border-radius: 6px;
   transition: transform 0.1s ease-in-out;
   font-weight: bold;
   border: 1px solid #ccc;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   background-color: rgb(212, 212, 212);
   font-size: 1.2em;
}

.calc-button-row > button:hover {
   transform: scale(1.05);
}

#calculatorButtons > .calc-button-row > .calc-operator-key {
   background-color: rgb(164,176,175);
   border-color: rgb(164,176,175);
}

#calc-equals {
   background-color: rgb(93,123,121);
   color: rgb(212, 212, 212);
   border-color: rgb(93,123,121);
}

#calc-clear {
   background-color: rgb(162,53,51);
   border-color: rgb(162,53,51);
   color: rgb(212, 212, 212);
}

#calc-delete {
   background-color: rgb(116,79,77);
   border-color: rgb(116,79,77);
   color: rgb(212, 212, 212);
}

footer {
   min-height: 32px;
   flex-direction: column;
   gap: 8px;
   padding: 8px 16px;
   border-top: 4px solid rgb(192, 192, 192);
}

footer img {
   max-height: 32px;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.fully-centered-flex-container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.calc-container-border {
   border: 3px solid black;
   border-radius: 8px;
}

/* DEBUG */

/* body {
   border: 5px solid green;
}

body > * {
   border: 2px solid red;
} */

#decor {
   /* border: 1px solid red; */
}

#calculatorButtons > * {
   /* border: 1px solid orange; */
}